# Sono e Saúde Mental — Análise Completa

Este notebook expande o estudo piloto utilizando a base de dados completa.
O objetivo é explorar associações entre padrões de sono, cansaço diário
e comportamentos relacionados.

**Pergunta:** Dormir mal está associado a pior bem-estar psicológico?

**Observação Metodológica:** Esta é uma análise exploratória de associação (não causal).
O cansaço diário é utilizado como proxy de bem-estar psicológico.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_theme(style="whitegrid", palette="colorblind")

## Carregamento dos Dados

In [2]:
df = pd.read_csv("../data/SleepStudyData.csv")
df.head()

  Enough  Hours PhoneReach PhoneTime  Tired Breakfast
0    Yes    8.0        Yes       Yes      3       Yes
1     No    6.0        Yes       Yes      3        No
2    Yes    6.0        Yes       Yes      2       Yes
3     No    7.0        Yes       Yes      4        No
4     No    7.0        Yes       Yes      2       Yes

## Visão Geral do Dataset

In [3]:
df.shape

(104, 6)

In [4]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Enough      104 non-null    str
 1   Hours       102 non-null    float64
 2   PhoneReach  104 non-null    str
 3   PhoneTime   104 non-null    str
 4   Tired       104 non-null    int64
 5   Breakfast   104 non-null    str
dtypes: float64(1), int64(1), str(4)
memory usage: 5.0 KB